<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href= "/css/login.css">

</head>
<body>

<div class="login-box">
    <h2> Login </h2>

    <form action="/loginSecret" method="POST">

        <div class="user-box">
            <input type="text" name="username">
            <label for="username">UserName</label>
        </div>

        <div class="user-box">
            <input type="password" name="password">
            <label for="password">Password</label>
            <!--        <input type="checkbox" onclick="myFunction()">Show Password-->
        </div>

        <button type="submit" class="registerbtn"> login </button>


        <br>
        <br>
        <div class="user-box">
            <label color="#ffffff">If you do not have an account, please register!</label>
        </div>
        <br>
        <br>
        <a href="/signUp">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>


    </form>
</div>
</body>
</html>