<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href= "/css/login.css">

</head>
<body>

<div class="login-box">
    <h2> Login </h2>

    <form action="/signUp" method="POST">

        <div class="user-box">
            <input type="text" name="username">
            <label for="username">UserName</label>
        </div>

        <div class="user-box">
            <input type="password" name="password">
            <label for="password">Password</label>
            <!--        <input type="checkbox" onclick="myFunction()">Show Password-->
        </div>

        <button type="submit" class="registerbtn"> Register </button>


        <br>
        <br>
        <div class="user-box">
            <label color="#ffffff">If you have an account, please login!</label>
        </div>
        <br>
        <br>
            <a href="/loginSecret">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
                Log In
            </a>


    </form>
</div>
</body>
</html>
